<% var isIndex = page.path === 'index.html' %>

<!-- this needs to be loaded before guide's inline scripts -->
<script src="<%- url_for("/js/dob.js") %>"></script>

<%- partial('_partial/head') %>
<body>
  <% if (!isIndex) { %>
    <div id="container">
      <div id="wrap">
        <%- partial('_partial/header-simple', null, {cache: !config.relative_link}) %>
        <div class="outer-fullscreen">
          <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>

          <section id="main"><%- body %></section>
        </div>
        <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
      </div>
      <%- partial('_partial/mobile-nav', null, {cache: !config.relative_link}) %>
      <%- partial('_partial/after-footer') %>
    </div>
  <% } else { %>
    <div id="container">
      <div id="wrap">
        <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
        <div class="outer">
          <%- partial('_partial/home', null, {cache: !config.relative_link}) %>
        </div>
        <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
      </div>
      <%- partial('_partial/mobile-nav', null, {cache: !config.relative_link}) %>
      <%- partial('_partial/after-footer') %>
    </div>
  <% } %>
</body>

</html>